.stylesun{
  background-image: url(http://www.shauntmax30.com/data/out/38/1268303-top-ranked-sky-wallpapers.jpg);
background-size: cover;
}
.stylemoon{
  background-image: url(https://darkskydiary.files.wordpress.com/2011/01/sarkimage1.jpg);
  background-size: cover;
}
#orb{
  height: 300px;
  width: 300px;
  border-radius: 100%;
  padding: 20px;
  margin: 100px auto 0 auto;
  transition: background-color 1s, border 2s;
}
#sky{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  transition: all 2s;
}
.sun{
  background-color: #FD0 !important;
  border: 10px solid #f1c40f;
}
.moon{
  background-color: #bdc3c7;
  border: 10px solid #eaeff2;
}
